.container {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

mat-card {
  align-items: center;
  background-color: white;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 24px;
}

p {
  font-size: 18px;
  margin-top: 10px;
}

mat-card-actions {
  margin-top: 20px;
}

.primary-button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff; /* Cor de fundo do botão primário */
  color: #fff; /* Cor do texto */
  margin-right: 20px;
}

/* Estilização para o botão "Ver Gráfico" */
.accent-button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffc107; /* Cor de fundo do botão secundário */
  color: #000; /* Cor do texto */
}